* {
    margin: 0;
    padding: 0;
}
.w {
    width: 900px;
    margin: 0 auto;
}
/* header部分 */
.header{
    height: 52px;
    background-color: #fff;
    position: relative;
}
input{
    width: 210px;
    height: 24px;
    outline: none;
    text-align: center;
    color: rgb(145, 143, 143);
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(250, 250, 250);
    position: absolute;
    left:500px;
    top: 13px;
}
.hright {
    float: right;
    height: 52px;
}

/* main部分 */
.main {
    background-color: rgb(250, 250, 250);
    height: 1071px;
}

.m3 {
    float: right;
    width: 350px;
    height: 500px;
    position: relative;
    /* margin-top: 40px; */

/* border: solid black; */
}
.yonghu {
    height: 80px;
}

.me {
    width: 65px;
    height: 65px;
    border: 0;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 7px;
}    
.name {
    position: absolute;
    left: 90px;
    top: 18px;
}

.tuijian div {
    height: 70px;
    line-height: 70px;
}
.left {
    float: left;
    
    font-size: 17px;
}

.right {
    float: right;
}
.grey {
    color: rgb(142, 142, 142);
}
.m1 {
    width: 530px;
    height: 125px;
    background-color: #fff;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 40px;
}

.m2 {
    width: 530px;
    height: 830px;
    border: 1px solid rgb(221, 221, 221);
    background-color: #fff;
}
.center {
    padding-top: 40px;   
}
.gmmtv {
    position: relative;
}
.gmm {
    height: 80px;
}
.live {
    width: 529px;
}   
.g {
    position: absolute;
    top: 30px;
    left: 90px;
}
.dian {
    float: right;
    height: 80px;
}
.tou div {
    float: left;
}
.tuijian div img {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 100%;
    overflow: hidden;
}
.biao {
    position: relative;
}
.qiehuan{
    position: absolute;
    right: -190px;
    top: 12px;
    color: rgb(0, 149, 246);
}
.zi {
    position: absolute;
    left: 60px;
    top: -25px;
}
.blue {
    color: rgb(0, 149, 246);
    position: absolute;
    right: 0;
    top:-18px;
}
.copy {
    color: rgb(221, 221, 221);
}
.xin {
    height: 45px;
}
.review {
    width: 529px;
}

.h:hover + img {
    visibility: visible;
}
.tv {
    position: absolute;
    left: -10px;
    top: 20px;
    width: 400px;
    visibility: hidden;
}
.gundong {
    width: 529px;
}
.gun {
    height: 125px;
    justify-content: space-between;
    white-space: nowrap;
    overflow-y:hidden;
    overflow-x:scroll;
    
}


.g1 {
    height: 125px;
}